.vehcl{
    border-left: 2px solid #004A8D;
    border-top: 2px solid #004A8D;
    float: left;
    height: 100px;
    width: 15%;
}
.advanceFare {
    border-right: 2px solid #004A8D;
}
.vehcl > h2{
    border-bottom: 2px solid #004A8D;
    font-size: 1em;
    padding-top: 5px;
    text-align: center;
}
#book_vehicle {
    float: right;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background: none repeat scroll 0 0 #0073D4;
    width: 120px;
}

